body {
  background-color: hsla(129, 100%, 100%, 0.75);
  color: rgb(129, 70, 166);
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 10px 20px
}

nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
nav * {
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 10px;
  margin: 0 5px ;
  font-size: 80%
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
.button {
  border: 2px solid rgb(129, 70, 166);
  border-radius: 10%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}
#hero {
  text-align: center;
  padding: 50px 0 150px;
}
#hero img {
  align-self: center;
}
button {
  color: white;
  background-color: rgb(129, 70, 166);
  padding: 10px 20px;
  border: 1px solid rgb(129, 70, 166);
  border-radius: 9%;
  align-self: center;
}
