body{
margin:0;
background-color:rgb(190, 197, 204)
}
section{
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
p, h3, h1 {
  color:rgb(154, 29, 170);
}
